body{
  margin: 0;
  color: white;
}

.content-rating{
  max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #6821cc;
    margin-top: 100px;
    color: white;
}

.like-button{
   background-color: green;
   color: white;
   padding: 10px 20px;

}

.dislike-button{
background-color: red;
color: white;
padding: 10px 20px;

}

.rating-button{
  display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.total-rating{
  display: flex;
  justify-content: center;
}
.icon-next-previous{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

